<canvas id="canvas"></canvas>

<form action="/usuario/login" method="post">
    <div class="login">
        <h1 id="h1-login">LOGO</h1>
        <input type="text" name="usuario" id="user" placeholder="Usuário">
        <input type="password" name="senha" id="password" placeholder="Senha">
        <input type="submit" value="Entrar" id="entrar">
    </div>
</form>